@font-face {
    font-family: 'EllisDigitalCoding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

